header {
    background-color: #0077b6;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

body {
    background-color: #e6f0f8;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #e6f0f8;
    text-align: center;
    display: flex;
    padding: 50px 50px 200px;
}

#formulario {
    border: 1px solid#ccc ; border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    align-items: center;
    padding: 30px;
    font-size: 1.5rem;
}

#formulario2 {
    border: 1px solid#ccc ; border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    font-size: 1.5rem;
}


a {
    text-decoration: none;
    color:dodgerblue;
}

input {
    border: 1px solid#ccc ; border-radius: 6px;
    font-size: 2rem;
    margin: 10px;
}

select {
    font-size: 1.5rem;
    padding: 10px 100px;
    text-align: left;
    text-align-last: left;
    border: 1px solid#ccc ; border-radius: 6px;
}


div {
    background-color: white;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    border: 1px solid#ccc ; border-radius: 6px;
    background-color: dodgerblue;
    font-size: 1.5rem;
    padding: 10px 150px;
    margin: 20px;
}